.profile-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8); /* Keep the semi-transparent black for the backdrop */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.profile-popup-content {
    background-color: #0d1b2a; /* Dark background for the popup */
    padding: 20px;
    border-radius: 15px; /* Slightly larger border-radius for a softer look */
    position: relative;
    box-shadow: none; /* Remove any shadow */
    text-align: center; /* Center-align all content */
    width: 90%; /* Add a max width for better responsiveness */
    max-width: 500px; /* Limit max width */
}

.back-button {
    align-self: flex-end;
    background-color: transparent;
    border: 2px solid #20C777;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: 20px;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    position: absolute;
    top: 20px;
    right: 20px;
    transform: scale(1.1) rotate(90deg);
}

.back-button:hover {
    background-color: rgba(32, 199, 119, 0.2);
    transform: scale(1.1) rotate(-5deg);
}
.back-icon {
    font-size: 24px;
    color: #20C777;
    text-shadow: 0 0 10px rgba(32, 199, 119, 0.8);
}

/* Glowing effect for the icon */
.back-button:hover .back-icon {
    color: #1BAE6E;
    text-shadow: 0 0 20px rgba(32, 199, 119, 1);
}


.update-button {
    margin-top: 20px;
    background-color: #20c777; /* Button color */
    color: #F0F2F5; /* Button text color */
    padding: 10px 20px; /* Padding for the button */
    border: none;
    border-radius: 5px; /* Rounded button edges */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transition effect for hover */
}

.update-button:hover {
    background-color: #17a363; /* Darker shade on hover */
}

.profile-title {
    margin-bottom: 20px;
    color: #F0F2F5; /* Title color */
    font-size: 24px; /* Larger font size for title */
}

.profile-text {
    color: #A0AAB2; /* Text color for the profile information */
    font-size: 16px; /* Font size for the text */
    line-height: 1.5; /* Improved line height for readability */
}
